node_modules
*.swp
.idea/
*.iml
.*.tmp
deploy-local.sh
.remote-sync.json
npm-*.log
.sync-config.cson
.jshintignore
.jshintrc
.DS_Store
stats.json
.vscode
docs
dist/esm
index.d.ts
types/auto
types/types-comparer/auto.json
types/types-comparer/hand-crafted.json
*.tgz

# Make sure we never commit a commit hash.
version.ts
